@model List<SpClima.ViewModels.GaleriaVM>

  @section Header {
    <header id="header" class="header d-flex align-items-center fixed-top" style="background-color: rgba(0, 0, 0, 0.85)">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="index" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename text-white">SpClima</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="#galeria" class="active">Galeria</a></li>
                    <li><a href="javascript:void(0);" id="calcularBtusBtn">Calculadora BTUs</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>

        <div id="calcularBtusModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="modal-title">Calcule o Ar Ideal</h3>
        <form id="btusForm">
          <div class="input-container">
            <label for="largura">Largura (m):</label>
            <input type="number" id="largura" name="largura" required placeholder="Digite a largura do ambiente">
          </div>
          <div class="input-container">
            <label for="comprimento">Comprimento (m):</label>
            <input type="number" id="comprimento" name="comprimento" required
              placeholder="Digite o comprimento do ambiente">
          </div>
          <div class="input-container">
            <label for="altura">Altura (m):</label>
            <input type="number" id="altura" name="altura" required placeholder="Digite a altura do ambiente">
          </div>
          <button type="submit" class="btn-calcular">Calcular</button>
        </form>
        <div id="resultadoBTUs" class="resultado-container">
          <h4>Resultado:</h4>
          <p id="resultadoTexto" class="resultado-texto"></p>
        </div>
      </div>
    </div>
    </header>
}

<div class="bar1"></div>
<div class="bar"></div>
<div id="carouselExampleIndicators" class="carousel slide py-3" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/img/CarrosselGaleria/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="~/img/CarrosselGaleria/2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="~/img/CarrosselGaleria/3.png" class="d-block w-100" alt="...">
    </div>
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        @foreach (var grupo in Model)
        {
            <h3 class="text-primary mb-4">@grupo.Tipo</h3>

            <div class="row mb-5">
                @foreach (var item in grupo.Items)
                {
                    <div class="col-md-4 mb-4 ">
                        <div class="card h-100" data-bs-toggle="modal" data-bs-target="#modalItem_@item.Id">
                            <img src="@item.ImagemUrl" class="card-img-top" alt="@item.Titulo">
                            <div class="card-body">
                                <h5 class="card-title">@item.Titulo</h5>
                                <p class="card-text">@item.Descricao</p>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modalItem_@item.Id" tabindex="-1" aria-labelledby="modalLabel_@item.Id"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel_@item.Id">@item.Titulo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Fechar"></button>
                                    </div>

                                    <img src="@item.ImagemUrl" class="img-fluid mb-3" alt="@item.Titulo">

                                    <div class="modal-body">
                                        <p>@item.Descricao</p>

                                        <form method="post" asp-controller="Pedido" asp-action="Create" target="_blank">
                                            <input type="hidden" name="ItemId" value="@item.Id" />

                                            <div class="mb-3">
                                                <label class="form-label">Seu nome:</label>
                                                <input type="text" id="ClienteNome" name="ClienteNome" class="form-control"
                                                    required minlength="3" maxlength="100" placeholder="Seu nome completo">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Endereço:</label>
                                                <input type="text" id="ClienteEndereco" name="ClienteEndereco"
                                                    class="form-control" required placeholder="Seu endereço de entrega">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Telefone:</label>
                                                <input type="tel" id="ClienteTelefone" name="ClienteTelefone"
                                                    class="form-control" required pattern="[0-9]{10,15}"
                                                    placeholder="(XX) XXXXX-XXXX">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Escolha a variação:</label>
                                                <select name="ItemVariacaoId" class="form-select" required>
                                                    <option value="">Selecione</option>
                                                    @foreach (var v in item.Variacoes)
                                                    {
                                                        <option value="@v.Id">@v.Nome — R$ @v.Preco.ToString("N2")</option>
                                                    }
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-primary w-100">Solicitar Orçamento</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
